body {

    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 2rem;
    display: flex;
    justify-content: center;
    background-color: #FAE8FF;
    
}

.test-profile-card{
    background-color: #E9D4FF;
    border-radius: 1rem;
    box-shadow: 0 4px 12px #F6CFFF;
    padding: 2rem;
    max-width: 420px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    color:#333;
    margin-bottom: 1rem;
}

p{
    color: #0b0a0a;
    text-align: center;
}

figure{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
}

img{
    border-radius: 5%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid black;
    margin-bottom: 0.5rem;
    background-color: #f5f5f5;
}

input[type="file"] {
    margin-top: 0.5rem;
    font-size: 0.9rem;
}

ul {
    list-style-type: square;
    list-style-position: none;
    padding: 0;
    
}

a{
    color: #0077cc;
    text-decoration: none;


}

a:hover,
a:focus {
    text-decoration: underline;
}

@media (min-width: 768px) {
    .profile-card {
        max-width: 600px;
        flex-direction: row;
        align-items: flex-start;
        text-align: left;
        gap: 2rem;
    }

    figure{
        flex: 1;
        }
    
        section {
            flex: 2;
    
        }
}



